$header_font: 'Archivo Black', sans-serif;
$main_font: Roboto;

.html {
    font-family: $main_font;
    font-size: 16px;
}

@media (max-width:767px) {
    /*--banner--*/
    .banner {
        position: relative;
        background: url(../images/banner.jpg) center/cover no-repeat;
        min-height: 200px;
    }

    /*--Header--*/

    .header__title {
        font-family: $header_font;
        font-size: 2rem;
        color: #fff;
        padding-top: 1rem;
    }

    .header__subtitle {
        font-family: $header_font;
        font-size: 1.1rem;
        color: #D66424;
        text-transform: uppercase;
    }


    /*--Menu--*/

    .menu {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 0.6rem;
    }

    .menu::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        color: #CFCFCF;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        flex: 1 1 auto;
    }

    .nav-link {
        color: #fff;
        padding: 0;
    }

    /*--Main section--*/

    .section {
    }

    .section__main {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    /*--Footer--*/
    
    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .copyright {
        text-align: center;
    }
}